* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 120px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.first {
    width: 100%;
    height: 750px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: initial;
}

.main {
    width: 200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    justify-content: left;
    gap: 10px;
}

.main1 {
    width: 60px;
    height: 15px;
    background-color: rgb(159, 223, 167);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #dde87c;
    color: #f07727;
}

.main2 {
    width: 400px;
    height: 250px;
}

.main3 {
    width: 220px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    gap: 10px;

}

.button {
    border-color: rgb(0, 0, 0);
    width: 250px;
    height: 50px;
    border-radius: 40px;
    background-color: #1e1288;
    color: rgb(0, 0, 0);
    gap: 20px;

}

.button :hover {
    border-color: rgb(0, 0, 0);
    border: solid 2px;
    width: 100px;
    height: 50px;
    border-radius: 40px;
    background-color: #240da8;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button1 {
    border-color: rgb(0, 0, 0);
    border: solid 2px;
    width: 250px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    color: #000000;

}

.button1 :hover {

    border-color: rgb(255, 255, 255);
    border: solid 2px;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    background-color: #0d0b9c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download {

    border: solid 3px black;
    width: 100px;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(38, 6, 153);
    color: #1d0d64;
    display: flex;
    justify-content: center;
    align-items: center;

}

.download :hover {
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #000000;
}
.started {
    width: 100%;
    height: 200px;
    font-size: large;
    color: rgb(5, 5, 56);
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;
} 
.foto {
    width: 400px;
    height: 500px;
    justify-content: left;
    align-items: start;
    display: flex;

}


.started div {
    width: 100%;
    height: 80px;
    color: rgb(6, 6, 49);
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;

}

.taskbar {
    width: 100%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    color: black;
    align-items: center;
    justify-content: space-evenly;
    gap: 100px;
    display: flex;
}

.about {
    width: 100%;
    height: 90vh;
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;

}

.about1 {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
}

.about4 {
    width: 220px;
    height: 50px;
    flex-direction: column;
    gap: 40px;
    display: flex;

}

.about2 {
    width: 600px;
    height: 400px;
}

.about3 {
    width: 450px;
    height: 300px;
}

.aboutbutton {
    width: 100px;
    height: 50px;
    flex-direction: column;
    display: flex;
    border-radius: 50px;
    background-color: rgb(9, 9, 114);
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    color: #ff7b25;
}

.aboutbutton :hover {
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #000000;
}